header {
  grid-area: header;
  background-color: #66f;
}
menu {
  grid-area: menu;
  background-color: gray; 
}
main {
  grid-area: main;
  background-color: pink;
}
footer {
  grid-area: footer;
  background-color: #66f;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
  gap: 10px;
}

/* Galeria */
.bg {
  background-position: center;
  background-size: cover;
}
.imagen1 {
  grid-area: a;
  background-image: url("1.jpg");
}
.imagen2 {
  grid-area: b;
  background-image: url("2.jpg");
}
.imagen3 {
  grid-area: c;
  background-image: url("3.jpg");
}
.imagen4 {
  grid-area: d;
  background-image: url("4.jpg");
}
.gallery {
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "d d d d"
    "a a b b"
    "a a b b"
    "c c c c";
}
/* Fin Galeria */

nav {    
    padding: 1rem 2rem;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav ul {
    list-style: none;
    height: 100%;
    gap: 2rem;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  nav a:hover {
    text-decoration: underline;
  }
  nav img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }